.MuiStack-root.watermark {
    visibility: hidden !important;
}

.MuiStack-root.watermark::after {
    content: "How about a little magic from Sherpa?";
    font-size: small;
    color: gray;
    visibility: visible !important;
    /* Other CSS styles for the pseudo-element */
}


/* "Upper Right Profile Guy" Color - Dark Mode*/
.css-1cf8j3a {
    background-color: #E6622C !important;
}

/* Upper Right Profile Guy Color - Light Mode*/
.css-1ecxs1h{
    background-color: #E6622C !important;
}

/* "Browse Files" - Dark Mode */
.css-1px1gl2 {
    background-color: #E6622C !important;
}

/* Browse Files - Light Mode */
.css-c6w2dx {
    background-color: #E6622C !important;
}

/* "Chat" Text Color - Light Mode*/
.css-1vhtqje {
    color: #E6622C !important;
}

/* "New Chat" Color and Border - Light Mode*/
.css-1ruedog {
    color: #E6622C !important;
    border: 1px solid #ad4921 !important; /* Adjusted border color */
}

.css-18q1fsk {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: #303030; /* Adjusted text color */
    width: 26px;
    height: 26px;
    font-size: 0.75rem;
    margin-top: -2px;
    background-color: #E6622C !important; /* Adjusted background color */
}

.css-1798y75 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: auto;
}
